<div class="searchblok">
  <input v-model="term" class="searchblok__input">

  <div class="searchblok__results">
    <div class="searchblok__loading" v-if="loading">Loading...</div>
    <div class="searchblok__result" v-for="entry in results">
      <a :href="entry.url" class="searchblok__result-title" v-html="entry.title"></a>
      <a :href="entry.url" class="searchblok__result-url" v-text="entry.url"></a>
      <div class="searchblok__result-excerpt" v-html="entry.excerpt"></div>
    </div>
  </div>

  <div class="searchblok__load-more" v-if="total > shownResults">
    <a href="#" v-on:click.prevent="nextPage">Load More</a>
  </div>
</div>
